-- Notepad to myself --

# Challenge: DataFrame API

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
from pyspark.sql.functions import to_timestamp, col, lit
df = spark.read.csv('data/Crimes-2021.csv', header=True, inferSchema=True) \
    .withColumn('Date', to_timestamp(col('Date'), 'MM/dd/yyyy hh:mm:ss a'))
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- Beat: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- Community Area: integer (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: integer (nullable = true)
 |-- Y Coordinate: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

### 1. Add the reported crimes for an additional day, 12-Nov-2021, to our dataset

In [5]:
crimes = df.filter(col('Date') == lit('2021-11-12'))
crimes.count()

17

In [6]:
df.union(crimes).orderBy('Date', ascending=False).show(5)

+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|12609426|   JF133671|2021-12-31 23:59:00|     023XX W 64TH ST|0810|               THEFT|           OVER $500|SCHOOL - PUBLIC B...| false|   false| 825|       8|  16|            66|      06|        null|        null|2021|02/05/2022 03:51:...|        null|         null|                null|
|12584710|   JF103542|2021-12-31 23:59:00|    006XX N STATE ST|2250|LIQUOR LAW VIOLATION|LIQUOR LICENSE VI...|       HOTEL / MOTEL|  true|   false|1832|      18|  42|             8|      22|     1176247|     1904872|2021|01/08/2022 03:45:...|41.894327846| -87.62814321|(41.894327846, -8...|
|12581979|   JF100042|2021-12-31 23:58:00|082XX S MARQUETTE...|0650|            BURGLARY|       HOME INVASION|           APARTMENT| false|    true| 423|       4|   7|            46|      05|     1195601|     1850868|2021|01/07/2022 03:47:...|41.745680051|-87.558851198|(41.745680051, -8...|
|12584234|   JF102969|2021-12-31 23:55:00|     087XX S WOOD ST|1310|     CRIMINAL DAMAGE|         TO PROPERTY|           RESIDENCE| false|   false|2221|      22|  21|            71|      14|     1165870|     1846697|2021|01/07/2022 03:47:...|41.734916889| -87.66790905|(41.734916889, -8...|
|12581978|   JF100185|2021-12-31 23:50:00| 086XX S SAGINAW AVE|5002|       OTHER OFFENSE|OTHER VEHICLE OFF...|              STREET| false|    true| 423|       4|   7|            46|      26|     1195327|     1848103|2021|01/07/2022 03:47:...|41.738099428|-87.559946218|(41.738099428, -8...|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

### 2. What are the top 10 number of reported crimes by Primary Type, in descending order of occurence?

In [7]:
df.groupBy('Primary Type').count().orderBy('count', ascending=False).show(10)

+-------------------+-----+
|       Primary Type|count|
+-------------------+-----+
|              THEFT|40749|
|            BATTERY|40447|
|    CRIMINAL DAMAGE|25090|
|            ASSAULT|20333|
| DECEPTIVE PRACTICE|16995|
|      OTHER OFFENSE|13908|
|MOTOR VEHICLE THEFT|10591|
|  WEAPONS VIOLATION| 8969|
|            ROBBERY| 7920|
|           BURGLARY| 6655|
+-------------------+-----+
only showing top 10 rows

### 3. What percentage of reported crimes resulted in an arrest?

In [8]:
df.select('Arrest').distinct().show()

+------+
|Arrest|
+------+
|  true|
| false|
+------+

In [10]:
100 * df.filter(col('Arrest') == 'true').count() / df.select('Arrest').count()

12.4307890647925

### 4. What are the top 3 locations for reported crimes?

In [11]:
df.groupBy('Location Description').count().orderBy('count', ascending=False).show(3)

+--------------------+-----+
|Location Description|count|
+--------------------+-----+
|              STREET|52060|
|           APARTMENT|44455|
|           RESIDENCE|32036|
+--------------------+-----+
only showing top 3 rows